.title {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
}

.accordion-button .collapsed {
    color: #444560;
}

.accordion-button {
    font-weight: 600;
    line-height: 1.75rem;
}

.faqIcon {
    width: 1.5rem;
    margin-right: 1rem;
}