.col-sm {
    padding: 0 1.125rem;
    text-align: center;
}

.imageContainer {
    margin-top: 4.125rem;
    margin-bottom: 1.875rem;
}

.imageHeading {
    margin-bottom: .375rem;
}

.imageDescription {
    color: #68697f;
    text-align: center;
}